deploy.sh
accounts.json
config.yaml
.idea
.env
.DS_Store

docker-config.json

# tf
**/*.tfstate
**/*.tfstate.*
**/.terraform/*
**/.terraformrc
**/terraform.rc

# k8s config
kube.yml
*-values.yml

# ansible
inventory.toml
