.idea
.env
.DS_Store
deploy.sh
config.yaml

# configs
accounts.json
clerk.yml
connector.yml
centrifugo.json
nginx.conf

# front
static

# go dependencies
vendor

# docker
docker-config.json

# terraform
**/*.tfstate
**/*.tfstate.*
**/.terraform/*
**/.terraformrc
**/terraform.rc

# kubernetes config
kube.yml

# ansible
inventory.toml

# certs
certs
